<section id="featureImportance">
  <h2>Feature Importance</h2>
  <br/>
  <br/>

  <p>
    {{featureImportance.length}} features were assessed and ranked.
  </p>

  <table class="table table-responseive table-striped">
    <thead>
    <tr>
      <th class="col-xs-6 text-capitalize">
        label
      </th>
      <th class="col-xs-6 text-capitalize text-right">
        %
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let feature of featureImportance">
      <td class="text-capitalize col-xs-6">
        {{feature[0]}}
      </td>
      <td class="col-xs-6 text-right">
        {{feature[1] * 100 | number }}
      </td>
    </tr>
    </tbody>
  </table>
</section>
