<section id="results">


  <h2>Iris Flower Dataset -
    <small>classification results</small>
  </h2>

  <table class="table table-responsive table-bordered table-striped">
    <thead>
    <tr>
      <th class="text-right">Sepal length</th>
      <th class="text-right">Sepal width</th>
      <th class="text-right">Petal length</th>
      <th class="text-right">Petal width</th>
      <th class="text-right">Class</th>
      <th class="text-right">Prediction</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of svcData.predictions">
      <td class="text-right">{{d[0]}}</td>
      <td class="text-right">{{d[1]}}</td>
      <td class="text-right">{{d[2]}}</td>
      <td class="text-right">{{d[3]}}</td>
      <td class="text-right">{{classNames[d[4]] }}</td>
      <td
        class="alert text-right"
        [class.alert-success]="d[4] === d[5]"
        [class.alert-danger]="d[4] !== d[5]"
      >{{classNames[d[5]]}}
      </td>
    </tr>
    </tbody>
  </table>


</section>


<section id="summary">
  <h2>Iris flower dataset</h2>
  <p>The Iris dataset for classification.</p>

  <p>
    Fisher’s Iris data base (Fisher, 1936) is perhaps the best known
    database to be found in the pattern recognition literature. The data
    set contains 3 classes of 50 instances each, where each class refers
    to a type of iris plant. One class is linearly separable from the other
    two; the latter are not linearly separable from each other.
  </p>


  <ul>
    <li>SVC - accuracy: 97.77 %</li>
    <li>Logistic Regression - accuracy: 97.77 %</li>
    <li>KNN - accuracy: 93.33 %</li>


  </ul>

  <p><strong>Features</strong></p>
  <ol>
    <li>Sepal length</li>
    <li>Sepal width</li>
    <li>Petal length</li>
    <li>
      <p>Petal width</p>
    </li>
    <li>
      <p>Number of samples: 150</p>
    </li>
    <li>
      <p>Target variable (discrete): 50x Setosa, 50x Versicolor, 50x Virginica</p>
    </li>
  </ol>
  <h3><a href="#references" id="references">References</a></h3>
  <ul>
    <li>Source: <a href="https://archive.ics.uci.edu/ml/datasets/Iris">https://archive.ics.uci.edu/ml/datasets/Iris</a>
    </li>
    <li>Bache, K. &amp; Lichman, M. (2013). UCI Machine Learning Repository. Irvine, CA: University of California,
      School of Information and Computer Science.
    </li>
  </ul>


</section>
