<section id="summary">

  <h2>Summary</h2>
  <br />
  <br/>
  <h2><a href="{{url}}" id="wine-dataset">Wine Dataset</a></h2>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> Samples</td>
      <td> 178</td>
    </tr>
    <tr>
      <td> Features</td>
      <td> 13</td>
    </tr>
    <tr>
      <td> Classes</td>
      <td> 3</td>
    </tr>
    <tr>
      <td> Data Set Characteristics:</td>
      <td> Multivariate</td>
    </tr>
    <tr>
      <td> Attribute Characteristics:</td>
      <td> Integer, Real</td>
    </tr>
    <tr>
      <td> Associated Tasks:</td>
      <td> Classification</td>
    </tr>
    <tr>
      <td> Missing Values</td>
      <td> None</td>
    </tr>
    </tbody>
  </table>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th> column</th>
      <th> attribute</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> 1</td>
      <td> Class Label</td>
    </tr>
    <tr>
      <td> 2</td>
      <td> Alcohol</td>
    </tr>
    <tr>
      <td> 3</td>
      <td> Malic acid</td>
    </tr>
    <tr>
      <td> 4</td>
      <td> Ash</td>
    </tr>
    <tr>
      <td> 5</td>
      <td> Alcalinity of ash</td>
    </tr>
    <tr>
      <td> 6</td>
      <td> Magnesium</td>
    </tr>
    <tr>
      <td> 7</td>
      <td> Total phenols</td>
    </tr>
    <tr>
      <td> 8</td>
      <td> Flavanoids</td>
    </tr>
    <tr>
      <td> 9</td>
      <td> Nonflavanoid phenols</td>
    </tr>
    <tr>
      <td> 10</td>
      <td> Proanthocyanins</td>
    </tr>
    <tr>
      <td> 11</td>
      <td> intensity</td>
    </tr>
    <tr>
      <td> 12</td>
      <td> Hue</td>
    </tr>
    <tr>
      <td> 13</td>
      <td> OD280/OD315 of diluted wines</td>
    </tr>
    <tr>
      <td> 14</td>
      <td> Proline</td>
    </tr>
    </tbody>
  </table>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th> class</th>
      <th> samples</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> 0</td>
      <td> 59</td>
    </tr>
    <tr>
      <td> 1</td>
      <td> 71</td>
    </tr>
    <tr>
      <td> 2</td>
      <td> 48</td>
    </tr>
    </tbody>
  </table>
  <h3><a href="#references" id="references">References</a></h3>
  <ul>
    <li>Forina, M. et al, PARVUS -
      An Extendible Package for Data Exploration, Classification and Correlation.
      Institute of Pharmaceutical and Food Analysis and Technologies, Via Brigata Salerno,
      16147 Genoa, Italy.
    </li>
    <li>Source: <a href="https://archive.ics.uci.edu/ml/datasets/Wine">https://archive.ics.uci.edu/ml/datasets/Wine</a>
    </li>
    <li>Bache, K. &amp; Lichman, M. (2013). UCI Machine Learning Repository. Irvine, CA: University of California,
      School of Information and Computer Science.
    </li>
  </ul>


</section>
