<app-nav-links></app-nav-links>

<div class="container">

  <h3 id="summary">Summary</h3>
  <p>
    These data are the results of a chemical analysis of wines grown in the same region in Italy but derived from
    three different cultivars. The analysis determined the quantities of 13 constituents found in each of the three
    types of wines.

  </p>
  <p>
    In a classification context, this is a well posed problem with "well behaved" class structures. A good data set
    for first testing of a new classifier, but not very challenging.


  </p>
  <section>

    <h3 id="results">Results</h3>

    <h3>
      {{WINE.accuracy.test * 100 | number }} %

      <small>
        accuracy was acheived when classifying the data via KNN Classifier.
      </small>
    </h3>

    <div style="max-height: 40vh; overflow-y: scroll;">

      <div class="table-fixed">

        <table class="table table-responsive table-bordered table-striped">
          <thead>
          <tr>
            <td class="text-capitalize text-right">{{WINE.columns[13]}}</td>
            <td class="text-capitalize text-right">{{WINE.columns[14]}}</td>
            <td class="text-capitalize text-right">{{WINE.columns[0]}} (%)</td>
            <td class="text-capitalize text-right">
              {{WINE.columns[9]}}
            </td>
            <td class="text-capitalize text-right">{{WINE.columns[12]}}</td>
            <td class="text-capitalize text-right">{{WINE.columns[6]}}</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let d of WINE.predictions">
            <td class="text-capitalize text-right">{{d[13] | number }}</td>
            <td class="text-capitalize text-right"
                [class.alert-success]="d[13] === d[14]"
                [class.alert-danger]="d[13] !== d[14]"
            >{{d[14] | number }}
            </td>
            <td class="text-capitalize text-right">{{d[9] | number }}</td>
            <td class="text-capitalize text-right">{{d[0] | number }}</td>
            <td class="text-capitalize text-right">{{d[12] | number }}</td>
            <td class="text-capitalize text-right">{{d[6] | number }}</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>


  <section>
    <div class="row text-center">
      <img src="../../assets/images/alcohol.png" class="img-responsive"/>
    </div>

    <div class="row text-center">
      <img src="../../assets/images/colorIntensity.png" class="img-responsive"/>
    </div>

    <div class="row text-center">
      <img src="../../assets/images/flavonoids.png" class="img-responsive"/>
    </div>

    <div class="row text-center">
      <img src="../../assets/images/proline.png" class="img-responsive"/>
    </div>

  </section>

  <app-feature-importance
    [featureImportance]="WINE.featureImportance"
  ></app-feature-importance>

  <section>
    <h3><a href="#references" id="references">References</a></h3>
    <ul>
      <li>Forina, M. et al, PARVUS -
        An Extendible Package for Data Exploration, Classification and Correlation.
        Institute of Pharmaceutical and Food Analysis and Technologies, Via Brigata Salerno,
        16147 Genoa, Italy.
      </li>
      <li>Source: <a
        href="https://archive.ics.uci.edu/ml/datasets/Wine">https://archive.ics.uci.edu/ml/datasets/Wine</a>
      </li>
      <li>Bache, K. &amp; Lichman, M. (2013). UCI Machine Learning Repository. Irvine, CA: University of California,
        School of Information and Computer Science.
      </li>
    </ul>

  </section>

</div>
