<!-- Navigation -->


<div
  class="container-fluid">
  <nav class="navbar">

    <a class="navbar-brand" href="#"
    >Machine Learning</a>

    <a
      routerLink="/"
      class="btn btn-primary text-white"><i class="fa fa-home"></i> Home</a>

  </nav>

  <router-outlet></router-outlet>

</div>


<!-- Footer -->
<footer class="bg-dark" style="min-height: 300px;">
  <div class="container">
    <p class="text-center text-white">Copyright &copy; J. Chimienti 2017</p>
  </div>
  <!-- /.container -->
</footer>
