<!-- Navigation -->
<nav class="navbar navbar-light sticky-top bg-faded">
  <a class="navbar-brand" href="#">AI Playground</a>
  <span>
        <button
          (click)="wine = 'red'"
          class="btn btn-danger"
          [disabled]="wine === 'red'"
        >red wine
      </button>


      <button (click)="wine = 'white'"
              class="btn btn-default"
              [disabled]="wine === 'white'"
      >white wine
      </button>

    <button (click)="wine = 'classify'"
            class="btn btn-default"
            [disabled]="wine === 'classify'"
    >predict wine origin
      </button>


      </span>
</nav>


<div
  class="container-fluid">

  <div class="row">
    <div class="col-sm-2">
      <app-nav-links></app-nav-links>
    </div>

    <div class="col-sm-8">


      <app-wine-classify
        *ngIf="wine === 'classify'"
        [wine]="'classify'"
      ></app-wine-classify>

      <app-wine
        *ngIf="wine !== 'classify'"
        [wine]="wine"
      ></app-wine>
    </div>
    <div class="col-sm-2">
    </div>
  </div>

</div>
