<div class="container">
  <section>

    <h1>
     <span class="text-capitalize">
      {{wine}}
    </span>

      Wine Quality</h1>

    <p>
      Wines w/ quality rankings are assessed and a machine learning algorithm
      was applied to the data.
    </p>

  </section>

  <div class="container">

    <app-results
      [accuracy]="WINE.accuracy"
    ></app-results>

  </div>

  <app-feature-importance
    [featureImportance]="featureImportance"
  ></app-feature-importance>


  <section id="summary">
    <h3>Add summary</h3>
  </section>

</div>
